!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@from.name}, is doing homework.
    %p
      I think it would be a great time to get some work done!!!
