body {
    position: relative;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 0;
    min-height: 100%;
}
.opaque-back {
    background-color: white;
    opacity: 0.9;
}
.background {
    background-image: url('Berkeley.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}
